<div class="newquote pull-right"><%= link_to 'New Quote', new_quote_path %></div><BR>
<div id="topPart"><h1 class="title">ASES Summit Quotes </h1> <h3><center><small>key moments in summit history</small></h3></center></div>


    <% @quotes.each do |quote| %>
        <div class="quote">
          <div class="quotetext"> <%= quote.body %></div>
          <div class="delete center"><%= link_to 'delete', quote, method: :delete, data: { confirm: 'Are you sure?' } %></div>
          <small class="pull-right">-<%= quote.author %> </small>
        </div>

    <% end %>


